.images_flex {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.images_flex .image {
  border: 1px #eee solid;
  margin: 5px;
  padding: 5px;
}

.images_flex .image:hover {
  border: 1px #ccc solid;
}

.images_flex .avatar {
  background: #fefefe;
}

.images_flex .btn_block {
  text-align: left;
}

